h2 {
  color: #000; /* Цвет текста */
  font-size: 24px; /* Размер шрифта */
  font-weight: bold; /* Жирность */
}

input {
  background: #fff;
  color: #000;
}

b,
a,
h1,
h2,
h4,
h5,
h6 {
  color: #000;
}
